<form class="menu" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
	<div>
		<label for="selectedGenre">Genre</label>
		<select formControlName="selectedGenre">
			<option *ngFor="let genre of genres" [value]="genre">
				{{ genre }}
			</option>
		</select>
	</div>
	<button [ngClass]="settingsForm.invalid ? 'disabled' : ''" (click)="showErrors()">Save</button>
	<ng-container *ngIf="showingErrors && !settingsForm.controls['selectedGenre'].dirty">
		<div class="error">Please select a genre</div>
	</ng-container>
</form>
