.settings {
	display: flex;
	flex-direction: column;
	gap: 25px;
	text-align: center;
	border: 2px solid #9EC8B9;
	border-radius: 10px;
	padding: 20px;
}

.settings-row {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.settings-item {
	display: flex;
	flex-direction: column;
}

.button {
	font-size: 130%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 5px;
}

.disabled {
  color: grey;
  opacity: 0.5;
}

select {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(var(--color-bg-dark));
	font-family: 'Acme', sans-serif;
	font-size: 80%;
	background-color: rgba(var(--color-text));
	width: 7em;
}

.errors {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: indianred;
	margin-top: 10px;
}