.settings {
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: center;
	font-family: 'Acme', sans-serif;
}

.button {
	margin-top: 7px;
	margin-bottom: 5px;
	font-size: 80%;
	width: 40%;
}

.disabled {
  color: grey;
  opacity: 0.5;
}

select {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(var(--color-bg-dark));
	font-family: 'Acme', sans-serif;
	font-size: 80%;
	background-color: rgba(var(--color-text));
}