.leaderboard {
	display: flex;
	flex-direction: column;
	max-height: 100px;
	overflow: auto;
}
::-webkit-scrollbar{    
	width: 12px;
}
.leaderboard::-webkit-scrollbar-track{
	background-color: rgba(var(--color-light));;
	border-radius: 5px;
}
.leaderboard::-webkit-scrollbar-thumb{
	background-color: rgba(var(--color-text));
	height: 5px;
	border-radius: 10px;
}
ol {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-left: 1em;
}

.list-item {
	display: flex;
  justify-content: space-between;
	gap: 15px;
}

.latest-score {
	color: lightgreen;
}