.audio-player{
    /* border: solid 1px rgba(var(--color-text));
    margin-bottom: 5px; */
    display: flex;
    flex-flow: row wrap;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slider-container{
    margin: 0 auto 10px auto;
    width: 150px;
    height: 10px;
}
.volume-icon{
    filter: invert(99%) sepia(2%) saturate(3286%) hue-rotate(80deg) brightness(81%) contrast(92%);
    height: 10px;
}

.volume-slider{
    -webkit-appearance: none;
    background: transparent;
}

.volume-slider::-webkit-slider-runnable-track{
    background: rgba(var(--color-text));
    border-radius: 10px;
    cursor: pointer;
    height: 10px;
}

.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgba(var(--color-light));
    height: 10px;
    width: 10px;
    border-radius: 50%;
}