.play-icon, .pause-icon{
    filter: invert(99%) sepia(2%) saturate(3286%) hue-rotate(80deg) brightness(81%) contrast(92%);
    cursor: pointer;
    height: 30px;
}
.play-button, .pause-button{
    border-radius: 50%;
    background: none;
    border: solid 0.5px #242424;
    box-shadow: 2px 2px 2px #242424;
}
.play-button:disabled, .pause-button:disabled{
    border: solid 0.5px #2f2f2f;
    box-shadow: none;
    
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 8px auto;
    width: 100%;
    gap: 5px;
}

