<h1>Guess the Song Title</h1>
<div *ngIf="question">
    <h2>Question #{{question.id+1}}</h2>
    <app-audio-player trackUrl={{question.preview_url}} ></app-audio-player>
    <form (ngSubmit)="onSubmit()">
        <input 
        #box
        type="text"
        placeholder="Enter answer"
        (keyup)="changeAnswer(box.value)"
        (click)="onClick()"
        />
        <button *ngIf="question.id<9" type="submit">Guess</button>
        <button *ngIf="question.id==9" (click)="finishGame()">Finish Game</button>
    </form> 
    <app-progress-bar *ngIf="question.id<9" [currentQuestionIndex]="question.id"></app-progress-bar>   
</div>
