/* .body {
	height: 100vh;
} */

.leaderboard-body {
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
	font-family: 'Acme', sans-serif;
	font-size: 150%;

	width: 50%;

	
	background-color: rgba(var(--color-secondary),0.85);
	border-radius: 5%;
	filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, .6));
	box-shadow: inset 0 0 0 200px rgb(255,255,255/90%);
	border-radius: 10px;

	margin: 10% auto 0 auto;
	padding: 0 20px 0 20px;
}

.scores-body {
	width: 50%;
}

.title {
	font-size: 250%;
	text-shadow: 1px 1px 1px #000;
}

.button {
	font-size: 100%;
	margin-top: 2vh;
	margin-bottom: 3vh;
}