<div class="navbar">
  <div class="nav-item">
    <div class="item-header" (click)="toggleLeaderboard()">Leaderboard</div>
    <app-leaderboard
      class="item-body leaderboard-body"
      *ngIf="leaderboardShown"
      (toggleLeaderboardEvent)="toggleLeaderboard()"
    ></app-leaderboard>
  </div>
  <div class="nav-item">
    <div class="item-header" (click)="toggleSettings()">Settings</div>
    <app-settings
      class="item-body settings-body"
      *ngIf="settingsShown"
      (toggleSettingsEvent)="toggleSettings()"
    ></app-settings>
  </div>
</div>



<div class="main">
  <h1>Who's Who</h1>
  <h3>Listen to the song.  Guess the name!</h3>
  <button class="play-button" routerLink="game">Play!</button>
</div>

