<div class="navbar">
  <div class="nav-item">
    <div class="item-header" (click)="toggleLeaderboard()">Leaderboard</div>
    <app-leaderboard
      class="item-body leaderboard-body"
      *ngIf="leaderboardShown"
      (toggleLeaderboardEvent)="toggleLeaderboard()"
    ></app-leaderboard>
  </div>
</div>

<div class="body">
  <div class="main">
    <h1 class="title">Who's Who</h1>
    <h3>Listen to the song.  Make a guess!</h3>
    <app-settings
      class="settings-body"
    ></app-settings>
  </div>
</div>